<p>Salut</p>
<%= link_to "rankings", admin_rankings_path, id: 'rankings' %>
<%= link_to "events", admin_events_path, id: 'events' %>
<%= link_to "matches", admin_matches_path, id: 'matches' %>
<%= link_to "players", admin_players_path, id: 'players' %>